body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

button{
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    background-color: #252525;
    cursor: pointer;
}

.toast{
    margin-top: 3rem;
    font-size: 20px;
}

.toast span{
    color: red;
}